        * {
            box-sizing: border-box;
        }
        
        body {
            margin: 0;
        }
        /* Định dạng header */
        
        .header {
            background-color: #dad6d6;
            color: #f90000;
            padding: 10px;
            text-align: center;
        }
        /* Định dạng thanh điều hướng trên cùng */
        
        .topnav {
            overflow: hidden;
            background-color: #ff0000;
        }
        
        .container {
            max-width: 960px;
            margin: 0px auto;
        }
        /* Định dạng link điều hướng */
        
        .topnav a {
            float: left;
            display: block;
            color: rgba(255, 255, 255, 0.945);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        #logo {
            padding: 2px 0px;
        }
        
        #logo img {
            max-width: 100px;
            height: auto;
            border-radius: 20%;
        }
        
        #main-menu {
            display: flex;
            list-style: none;
            margin: 10px;
            padding: 15px;
        }
        
        #main-menu-middle {
            position: relative;
            display: inline-table;
            list-style: outside;
            margin: 40px;
        }
        
        #main-menu .sub-menu li:hover a {
            color: rgb(189, 189, 189);
        }
        
        #main-menu ul.sub-menu {
            position: absolute;
            background-color: #b80000;
            padding: 15px 0px;
            list-style: none;
            width: 200px;
            border-bottom: 1px solid #ff004c;
            display: none;
            text-align: center;
        }
        
        #main-menu li:hover ul.sub-menu {
            display: block;
        }
        
        #main-menu ul.sub-menu a {
            padding: 8px 15px;
            border-bottom: 1px solid #ff0000;
        }
        
        #main-menu ul.sub-menu li:hover a {
            border-bottom: 1px solid #ffffff;
        }
        
        #main-menu ul.sub-menu li:last-child a {
            border: none;
        }
        /* Thay đổi màu liên kết khi di chuột qua */
        
        .topnav a:hover {
            background-color: #ff0000;
            color: rgb(29, 29, 29);
            font-weight: bold
        }
        /* Tạo ba cột không bằng nhau, float cạnh nhau */
        
        .column {
            float: left;
            padding: 10px;
        }
        /* Cột bên trái và phải */
        
        .column.side {
            width: 25%;
            color: #000000
        }
        
        .img.left {
            display: block;
            max-width: 1000px;
            max-height: 6000px;
            width: 200px;
            height: auto;
        }
        /* Cột chính giữa */
        
        .column.middle {
            width: 50%;
        }
        
        .title.middle {
            font-size: 20px;
            color: rgb(0, 0, 0);
            text-align: center;
        }
        
        .img.middle {
            display: block;
            max-width: 650px;
            max-height: 800px;
            width: 700px;
            height: auto;
        }
        
        .img.trangchu {
            display: block;
            max-width: 150px;
            max-height: 100px;
            width: 100px;
            height: 100px;
        }
        /* Clear float khác sau các cột */
        
        .row:after {
            content: "";
            display: table;
            clear: both;
            color: #000000;
        }
        /* Bố cục linh hoạt: ba cột xếp chồng lên nhau thay vì cạnh nhau khi màn hình có chiều rộng dưới 600px */
        
        @media screen and (max-width: 600px) {
            .column.side,
            .column.middle {
                width: 100%;
            }
        }
        /* Định dạng footer */
        
        .footer {
            background-color: #8d8989;
            color: #ffffff;
            padding: 5px;
            text-align: center;
        }
